@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(7, 7, 10, 0.7) 0%,
    #00002b 100%
  );

  background-repeat: no-repeat;
  background-size: cover;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .input {
    @apply w-[100%] min-h-[50px] bg-white rounded-[5px] placeholder-[#797979] outline-none placeholder:font-normal placeholder:text-sm px-3 text-black;
  }
  .error {
    @apply w-[100%] min-h-[50px] bg-white rounded-[5px] placeholder-[#797979] outline-none border-2 border-solid border-red-600 placeholder:font-normal placeholder:text-sm px-3 text-black;
  }
  .form-parent {
    @apply flex flex-col justify-center content-center gap-y-5 w-[100%] px-10 mx-auto mb-[250px] text-center text-white;
  }
  .auth-btn {
    @apply w-[113px] h-[50px] bg-white rounded-[5px] disabled:opacity-30;
  }
  .root-input {
    @apply  h-[50px] bg-white rounded-[5px] border-2 border-black placeholder:text-sm px-3;
  }
  .active{
    @apply after:bg-[#FFC600] after:absolute after:w-9 after:h-9 after:-top-4 after:left-1/2 after:translate-x-[-50%] after:rounded-full after:z-[-1] relative
  }
}